@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
    --battleship-grey: #808d8eff;
    --old-lavender: #766c7fff;
    --purple-mountain-majesty: #947eb0ff;
    --wild-blue-yonder: #a3a5c3ff;
    --powder-blue: #a9d2d5ff;
  
    --light-slate-gray: #818d92ff;
    --deep-space-sparkle: #586a6aff;
    --grullo: #b9a394ff;
    --pale-silver: #d4c5c7ff;
    --languid-lavender: #dad4efff;
}

body {
    background-color: var(--grullo);
}

svg {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 10px;
}
.plates {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
    width: 50px;
    cursor: pointer;
    z-index: 2;
}
.plate {
    height: 80px;
    width: 80px;
    z-index: 2;
}
.menu {
    filter: url(#gooeyness);
}
.x .line {
    stroke-width: 5.5px;
    z-index: 2;
}
.x {
    transform: scale(0);
    transition: transform 400ms;
}
.line {
    z-index: 2;
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.plate2 .line1 {
    stroke-dasharray: 21 185.62753295898438;
    transition-delay: 0;
}
.plate2 .line2 {
    stroke-dasharray: 21 178.6514129638672;
    transition-delay: 30ms;
}
.plate2 .line3 {
    stroke-dasharray: 21 197.92425537109375;
    transition-delay: 60ms;
}
.plate2 .line4 {
    stroke-dasharray: 21 190.6597137451172;
    transition-delay: 90ms;
}
.plate2 .line5 {
    stroke-dasharray: 21 208.52874755859375;
    transition-delay: 120ms;
}
.plate2 .line6 {
    stroke-dasharray: 21 186.59703063964844;
    transition-delay: 150ms;
}
.active.plate2 .line1 {
    stroke-dasharray: 5 185.62753295898438;
    stroke-dashoffset: -141px;
}
.active.plate2 .line2 {
    stroke-dasharray: 5 178.6514129638672;
    stroke-dashoffset: -137px;
}
.active.plate2 .line3 {
    stroke-dasharray: 5 197.92425537109375;
    stroke-dashoffset: -176px;
}
.active.plate2 .line4 {
    stroke-dasharray: 5 190.6597137451172;
    stroke-dashoffset: -159px;
}
.active.plate2 .line5 {
    stroke-dasharray: 5 208.52874755859375;
    stroke-dashoffset: -139px;
}
.active.plate2 .line6 {
    stroke-dasharray: 5 186.59703063964844;
    stroke-dashoffset: -176px;
}
.active.plate2 .x {
    transition: transform 400ms 250ms;
}
.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}
#sideNavSlider {
    min-height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    bottom: 0px;
    min-height: 0;
    z-index: 1;
    left: 0;
    background-color: white;
    padding: 100px 0 20px 0;
    overflow-x: hidden;
    transition: 0.5s;
}
#sideNavSlider::-webkit-scrollbar, .unitDropdown::-webkit-scrollbar {
    width: 16px;
}

#sideNavSlider::-webkit-scrollbar-track, .unitDropdown::-webkit-scrollbar-tracks {
    background: #ffffff;
}

#sideNavSlider::-webkit-scrollbar-thumb, .unitDropdown::-webkit-scrollbar-thumb {
    background-color: #d4cdb9;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
#sideNavSlider p, #sideNavSlider a {
    padding: 8px 8px 8px 20px;
    width: 100% - 20px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    background: linear-gradient(#b3ad5d 0 0) var(--p,0)/var(--p,0) no-repeat;
    transition: .2s, background-position 0s;
    cursor: pointer;
    margin: 0;
}
#sideNavSlider a:hover, #sideNavSlider p:hover {
    color: #f1f1f1;
    --p: 100%;
    box-shadow: -10px 8px 5px 0px var(--pale-silver);
    transform: scale(1.04);
}
.unitDropdown {
    margin: 0;
    height: 0px;
    top: 0;
    z-index: 1;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.3s;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    color: #818181;
    transition: 0.5s;
}
.unitDropdown li hr {
    width: 60%;
    margin: 10px 0 0 47px;
}
#sideNavSlider .unitSelected {
    background-color: gray;
    color: white;
}
.unitsOpen {
    height: 250px;
}

#adviceTextarea {
    resize: none;
}

footer {
    z-index: 50;
}
html, body {
    height: 100%;
}
main {
    margin: 0 auto;
}
#pageContainer {
    z-index: 100;
    width: 100%;
    display: flex;
    min-height: calc(100%);
    flex-direction: column;
}
#compiler {
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    height: 40vh;
    width: 40vw;
    background-color: var(--grullo);
}
.unitSeparate {
    border: none;
    height: 1px;
    width: 80%;
    background-color: black;
    margin-bottom: 50px;
}
.codeText {
    padding: -5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: solid 3px grey;
    border-radius: 10px;
    background-color: var(--languid-lavender);
}
.codeText p {
    margin: 1px;
    margin-left: 10px;
    font-family: 'Inconsolata', monospace;
}