:root {
  --battleship-grey: #808d8eff;
  --old-lavender: #766c7fff;
  --purple-mountain-majesty: #947eb0ff;
  --wild-blue-yonder: #a3a5c3ff;
  --powder-blue: #a9d2d5ff;

  --light-slate-gray: #818d92ff;
  --deep-space-sparkle: #586a6aff;
  --grullo: #b9a394ff;
  --pale-silver: #d4c5c7ff;
  --languid-lavender: #dad4efff;
}

main {
  text-align: center;
}
h1 {
    color: var(--deep-space-sparkle);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}
#description {
  margin: 1vh 2vh;
}
#github {
  margin: 0 auto;
  transition: 0.2s;
}
#github:hover {
  transform: scale(1.1);
}
#photoGallery {
  display: grid;
  grid-gap: 2vh;
}
#photoGallery img {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  #photoGallery {
    margin: 2vh 4vh;
    padding: 5vh;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr;
  }
  #photoGallery img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 769px) {
  #photoGallery {
    margin: 100px 200px;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: repeat(4, 1fr);
  }
  #photo1 {
    height: 100%;
  }
  #photo6 {
    grid-column: span 2;
  }
  #photo7 {
    height: 48%;
  }
}