:root {
    --battleship-grey: #808d8eff;
    --old-lavender: #766c7fff;
    --purple-mountain-majesty: #947eb0ff;
    --wild-blue-yonder: #a3a5c3ff;
    --powder-blue: #a9d2d5ff;
  
    --light-slate-gray: #818d92ff;
    --deep-space-sparkle: #586a6aff;
    --grullo: #b9a394ff;
    --pale-silver: #d4c5c7ff;
    --languid-lavender: #dad4efff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
#pageContainer {
    justify-content: center;
    max-width: 100vh;
}
.unitContent {
    margin-left: 30px;
    margin-right: 30px;
}
.unitContent a img {
    width: 60%;
    margin-left: 175px;
    margin-bottom: 16px;
}
#accessModifierTable {
    margin-left: auto;
    margin-right: auto;
}
#accessModifierTable th{
    background-color: var(--deep-space-sparkle);
}
#accessModifierTable td {
    text-align: center;
}
#accessModifierTable .yes {
    background-color: var(--light-slate-gray);
}
#accessModifierTable th, #accessModifierTable td {
    padding: 10px;
    border: solid 1px black;
}